body{
    background-color: #561989;
    color: #fff;
}
.content{
    /* max-width: 90%; */
    margin:auto;
    display:flex;
    flex-direction: column;
    word-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.noticias{
    margin-top:20px;
    max-width: 70%;
    padding-left: 15px;
    border: 2px double #999;
    border-radius:8px;
    min-width:70%;
}
.titulo{
    margin-top:12px;
    font-size: 35px;
}
.contenido{
    max-width: 80%;
}
.image{
    max-width: 70%;
    border-radius: 8px;
}
.fecha{
    margin-top: -5px;
    font-style: italic;
    font-size: 12px;
}
.enlase{
    display: block;
}
.area{
    display: block;
    min-width:70%;
    outline: none;
    border-radius: 8px;
}

.bot, .enlase {
    min-width: 100px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #adb5bd;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .oculto{
    display: none;
}